.Complemento_Main {
    padding-top: 5vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.Complemento_1 {
    animation: UpperFadeIn 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: both;
    place-items: center;
    margin: auto;
    font-family: 'Tiro Tamil', serif;
    padding:1vw;
    grid-column: 1/7;
}

.Complemento_2 {
    animation: UpperFadeIn 2s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    margin: auto;
    font-family: 'Tiro Tamil', serif;
    padding:1vw;
    grid-column: 2/8;
}

.Complemento_3 {
    animation: UpperFadeIn 2s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-fill-mode: both;
    place-items: center;
    margin: auto;
    font-family: 'Tiro Tamil', serif;
    padding:1vw;
    grid-column: 3/10;
}

.Complemento_4 {
    animation: UpperFadeIn 2s;
    animation-timing-function: ease-out;
    animation-delay: 4.5s;
    animation-fill-mode: both;
    display: grid;
    place-items: center;
    margin: auto;
    font-family: 'Tiro Tamil', serif;
    padding:1vw;
    grid-column: 5/10;
}

.Complemento_Div_Link {
    animation: Link 2s cubic-bezier(.15,.89,.85,.29), LinkBounce 1s ease-in alternate infinite ;
    animation-delay: 9s;
    animation-fill-mode: both;
    display: grid;
    grid-column: 9/10;
    padding-top: 10vw;
}

.Complemento_Link {
    place-items: center;
    margin: auto;
}

.Complemento_Div_Calc {
    animation: Link 2s cubic-bezier(.15,.89,.85,.29), LinkScale 2s ease-in alternate infinite ;
    animation-delay: 7s;
    animation-fill-mode: both;
    display: grid;
    grid-column: 5/6;
    padding-top: 6vw;
}

.Complemento_Calc {
    place-items: center;
    margin: auto;
}

@keyframes UpperFadeIn{
    0% {opacity: 0; transform:translateX(-200px)}
    30% {opacity: 0;}
    70% {opacity: 1; transform:translateX(25px)}
    100% {opacity: 1;}
}

@keyframes Link {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes LinkBounce {
    from {
        transform: translateX(-30px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes LinkScale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}